@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f1f5f9;
  --foreground: #000000;
  --primary-default: #2b9afb;
  --primary-bg: #e6faff;
  --medium: #64748b;
  --dark: #94a3b8;
  --high: #0f172b;
  --secondary-default: #fba711;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .h1 {
    font-size: 2.25rem;
  }
  .h2 {
    font-size: 2rem;
  }
  .h3 {
    font-size: 1.75rem;
  }
  .h4 {
    font-size: 1.5rem;
  }
  .h5 {
    font-size: 1.25rem;
  }
  .h6 {
    font-size: 1rem;
  }
}
