@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --default: #f1f5f9;
  --primary-default: #2b9afb;
  --primary-bg: #e6faff;
  --medium: #64748b;
  --dark: #94a3b8;
  --high: #0f172b;
  --secondary-default: #fba711;
  --success-default: #31c55e;
}

@layer utilities {
  .h1 {
    font-size: 2.25rem;
  }
  .h2 {
    font-size: 32;
    line-height: 44px;
  }
  .h3 {
    font-size: 24px;
    line-height: 32px;
  }
  .h4 {
    font-size: 20px;
    line-height: 26px;
  }
  .h5 {
    font-size: 16;
    line-height: 24px;
  }
  .h6 {
    font-size: 1rem;
  }
}
